.barbackgroud {
  display: flex;
  padding: 50px;
  gap: 100px;
  background-color: #cfe4f1;
}

.bar {
  display: flex;
  justify-content: space-between;
}
.font_Br {
  font-size: x-large;
}
.bar_2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
._box {
  padding: 8.9px 11px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  margin-bottom: 15px;
}

.login_right {
  min-height: 600px;
  margin: 0 auto;
  width: 1200px;
  justify-content: flex-end;
}

.logo {
  background-image: url("../img/logo-bl.jpg");
  background-size: cover;
  z-index: 3;
  background-repeat: no-repeat;
  background-position: center center;
}

.B-f {
  /* width: 400px; */
  height: 400px;
  margin: 50px;
}
.form-clor {
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  width: 500px;
}
.input-form {
  padding: 0.75rem;
  outline: none;
  border: 0;
  flex: 1;
  flex-shrink: 1;
  flex-shrink: 0;
  filter: none;
  font-size: large;
}
.pading {
  box-sizing: border-box;
  width: 100%;
  height: 2.5rem;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 2px;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.02);
}
.box-bor{
  padding: 1.25rem 0;
  border-bottom: 3px solid rgba(0,0,0,.09);
}
.h5 {
  display: inline-block;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.a {
  color: #000;
  font-size: 18px;
}
